In [1]:
import numpy as np

In [5]:
# --> 1. Creating Arrays: 

#1. Transforming Normal List into NP Arrays

In [7]:
normal_list = [1,2,3,4,5]

In [9]:
np_array = np.array(normal_list)

In [13]:
type(np_array) # This does not change the original array

numpy.ndarray

In [16]:
# 2. Using built-in functions
np.arange(0,20) # Like range but arrange with single r

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [17]:
# Create zero matrix

np.zeros(5) #1*5 ki zero matrix, 1 row 5 columns
# Note: these zeros are floats not ints

array([0., 0., 0., 0., 0.])

In [20]:
# 4 rows 4 colums ki zero matrix
np.zeros((4,4)) #pass in a tuple like (4,4) , (2,5) not just 2,5

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [22]:
np.ones((2,5)) # 2 rows 5 colums ki 1 matrix

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [24]:
np.linspace(0,10,3) 

# What this does is it gives: Linearly Spaced Numbers
# MATLAB Start 0, End 10, give me 3 linearly spaced numbers, 
# notice 0 , 5, 10 ke beech equal space/gap.

array([ 0.,  5., 10.])

In [25]:
np.linspace(0,10,11)

# Note that it INCLUDES 0 AND 10 not like normal lists
# so btw 0,10 there are 11 numbers

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [26]:
np.eye(5)

#Creates an identity matrix (1 along the diagonal) of square matrix size 5

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])